* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  color: #232323;
}

.wrapper {
  display: grid;
  grid-gap: 0.2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "logo logo menu menu "
    "pressbild pressbild pressbild pressbild"
    " presstext presstext presstext presstext"
    " . section1 section1 ."
    "section2 section2 section3 section3"
    "section5 section4 section4 section4"
    "section6 section6 section6 section7"
    "section9 section8 section8 section8"
    "section10 section11 section12 section13"
    "footer footer footer footer";
}

/* Rubriker */
h2 {
  font-size: 2rem;
  font-family: "Nunito", sans-serif;
  text-shadow: 0 2px 5px rgba(100, 100, 100, 0.788);
}

/* Knappar */
.btn {
  background: #73eb32;
  color: #232323;
  padding: 0.5rem 1.3rem;
  text-decoration: none;
  border: 0;
  font-size: 1.1rem;
  border-radius: 5px;
}

/* Header Logo */
.header-logo h1 {
  grid-area: logo;
  display: grid;
  margin: 30px;
  font-size: 6rem;
  font-family: "Nunito", sans-serif;
  text-shadow: 0 2px 5px rgba(100, 100, 100, 0.788);
}

.header-logo h1 a {
  text-decoration: none;
  color: #232323;
}

/* Nav Main */
nav {
  grid-area: menu;
  margin: 30px;
}

nav a {
  background: #131313;
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-size: 1.1rem;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 1px 2px rgba(100, 100, 100, 0.7);
}

nav a:hover {
  background: #2c7bb6;
  color: #fff;
}

nav ul {
  display: grid;
  grid-gap: 0.5rem;
  padding: 0;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

nav ul ul {
  display: none;
  position: absolute;
  list-style: none;
}

nav ul li:hover > ul {
  display: inherit;
  list-style: none;
}

nav ul ul li {
  width: 140px;
  float: none;
  display: list-item;
  position: relative;
  list-style: none;
}

/* Section Presentation */
.section-presentation {
  grid-area: pressbild;
  min-height: 550px;
  background: url(../img/pressbild.jpg);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section-presentation h2 {
  font-size: 2rem;
  color: #fff;
}

.section-presentation p {
  font-size: 0.8rem;
  color: #fff;
}

.section-presentation a {
  font-size: 0.8rem;
  color: #fff;
  text-decoration: none;
}

/* Article Presentation */
.article-presentation {
  grid-area: presstext;
  display: grid;
  margin: 3rem;
}

/* Section 1 */
.section1 {
  grid-area: section1;
  margin: auto;
  min-width: 550px;
}

.section1 h2 {
  text-align: center;
}

/* Section 2 */
.section2 {
  grid-area: section2;
  display: grid;
  min-height: 400px;
  background: url(../img/mat.jpg);
  background-size: cover;
  background-position: center;
}

.section2 p {
  font-size: 0.8rem;
  color: #fff;
  padding: 2rem;
}

.section2 a {
  font-size: 0.8rem;
  color: #fff;
  text-decoration: none;
}

/* Section 3 */
.section3 {
  grid-area: section3;
  display: grid;
}

.section3 h2 {
  text-align: center;
}

.section3 ul {
  padding: 1rem;
  list-style: none;
}

/* Section 4 */

.section4 {
  grid-area: section4;
  display: grid;
  min-height: 400px;
  background: url(../img/bild1.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}

/* Section 5 */
.section5 {
  grid-area: section5;
  display: grid;
}

/* Section 6 */
.section6 {
  grid-area: section6;
  display: grid;
  min-height: 400px;
  background: url(../img/bild2.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}

/* Section 7 */
.section7 {
  grid-area: section7;
  display: grid;
}

/* Section 8 */
.section8 {
  grid-area: section8;
  display: grid;
  min-height: 400px;
  background: url(../img/bild3.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}

/* Section 9 */
.section9 {
  grid-area: section9;
  display: grid;
}

/* Section 10 */
.section10 {
  grid-area: section10;
  display: grid;
  justify-content: center;
  background-color: #2c7ab675;
  padding: 1rem;
}

.section10 ul {
  list-style: none;
}

.section10 ul li {
  padding-left: 0.5rem;
}

.section10 ul li p {
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Section 11 */
.section11 {
  grid-area: section11;
  display: grid;
  justify-content: center;
  background-color: #73eb3275;
  padding: 1rem;
}

.section11 ul {
  list-style: none;
}

.section11 ul li {
  padding-left: 0.5rem;
}

.section11 ul li p {
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Section 12 */
.section12 {
  grid-area: section12;
  display: grid;
  justify-content: center;
  background-color: #2c7ab675;
  padding: 1rem;
}

.section12 ul {
  list-style: none;
}

.section12 ul li {
  padding-left: 0.5rem;
}

.section12 ul li p {
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Section 13 */
.section13 {
  grid-area: section13;
  display: grid;
  justify-content: center;
  background-color: #73eb3275;
  padding: 1rem;
}

.section13 ul {
  list-style: none;
}

.section13 ul li {
  padding-left: 0.5rem;
}

.section13 ul li p {
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Formulär */
form {
  display: grid;
}

label {
  font-size: 1.1rem;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  font-size: 1.1rem;
  border: 2px solid #232323;
  border-radius: 5px;
  padding: 0 1rem;
  margin-bottom: 1rem;
  height: 2rem;
}

textarea {
  font-size: 1.1rem;
  border: 2px solid #232323;
  border-radius: 5px;
  padding: 0.2rem 1rem;
  margin-bottom: 1rem;
  height: 6rem;
}

/* Footer */
footer {
  grid-area: footer;
  display: grid;
  min-height: 75px;
  padding: 0.8rem;
  color: #fff !important;
  background: #232323;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    display: grid;
    grid-gap: 0.1rem;
    grid-template-columns: 1fr;
    grid-template-areas:
      "logo"
      "menu"
      "section1"
      "section2"
      "section3"
      "section4"
      "section5"
      "section6"
      "section7"
      "section8"
      "section9"
      "section10"
      "section11"
      "section12"
      "section13"
      "pressbild"
      "presstext"
      "footer";
  }

  /* Header Logo */
  .header-logo h1 {
    grid-area: logo;
    display: grid;
    text-align: center;
    font-size: 20vw;
    font-family: "Nunito", sans-serif;
    text-shadow: 0 2px 5px rgba(100, 100, 100, 0.788);
  }

  /* Section Presentation */
  .section-presentation {
    grid-area: pressbild;
    display: flex;
    min-height: 350px;
    background: url(../img/pressbild.jpg);
    background-size: cover;
    background-position: center;
  }

  .section-presentation h2 {
    font-size: 2.5rem;
    color: #fff;
  }

  .section-presentation p {
    font-size: 0.8rem;
    color: #fff;
  }

  .section-presentation a {
    font-size: 0.8rem;
    color: #fff;
    text-decoration: none;
  }

  /* Section 3 */
  .section3 {
    text-align: center;
  }
  /* Section 5 */
  .section5 {
    text-align: center;
  }
  /* Section 7 */
  .section7 {
    text-align: center;
  }
  /* Section 9 */
  .section9 {
    text-align: center;
  }

  nav {
    grid-area: menu;
    margin: 5px;
  }
}

@media only screen and (max-width: 425px) {
  .wrapper {
    display: grid;
    grid-gap: 0.1rem;
    grid-template-columns: 1fr;
    grid-template-areas:
      "logo"
      "menu"
      "section1"
      "section2"
      "section3"
      "section4"
      "section5"
      "section6"
      "section7"
      "section8"
      "section9"
      "section10"
      "section11"
      "section12"
      "section13"
      "pressbild"
      "presstext"
      "footer";
  }

  nav ul {
    display: grid;
    padding: 0;
    list-style: none;
    grid-template-columns: 1fr;
  }

  nav ul ul {
    display: none;
    position: relative;
  }

  nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul li:hover > ul {
    display: inherit;
  }

  /* Section 1 */
  .section1 {
    grid-area: section1;
    display: grid;
    min-width: 90%;
  }

  .section1 h2 {
    font-size: 2rem;
  }

  /* Section 2 */
  .section2 {
    grid-area: section2;
    display: grid;
    width: 100%;
  }

  /* Section 3 */
  .section3 {
    text-align: center;
  }
  /* Section 5 */
  .section5 h2 {
    text-align: center;
    font-size: 6vw;
  }
  /* Section 7 */
  .section7 h2 {
    text-align: center;
    font-size: 6vw;
  }
  /* Section 9 */
  .section9 h2 {
    text-align: center;
    font-size: 6vw;
  }
  form {
    display: grid;
  }

  /* Footer */
  footer {
    grid-area: footer;
    display: grid;
    min-height: 75px;
    padding: 2rem;
    color: #fff !important;
    background: #232323;
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
    font-size: 4vw;
    text-align: center;
  }
}
