* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #fff;
    color: #232323;

}

.wrapper {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: 
    'logo menu '
    'pressbild pressbild'
    'presstext presstext'
    'footer footer  '
}

/* Rubriker */
h2 {
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;  
    text-shadow: 0 2px 5px rgba(100, 100, 100, 0.788);
}

/* Knappar */
.btn {
    background: #73EB32;
    color: #232323;
    padding: 0.5rem 1.3rem;
    text-decoration: none;
    border: 0;
}

/* Header Logo */
.header-logo h1 {
    grid-area: logo;
    display: grid;
    margin: 30px;
    font-size: 6rem;
    font-family: 'Nunito', sans-serif;
    text-shadow: 0 2px 5px rgba(100, 100, 100, 0.788);
}

/* Nav Main */
nav {
    grid-area: menu;
    margin: 30px;
}

nav a {
    background: #131313;
    display: block;
    text-decoration: none;
    padding: 0.8rem;    
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 1px 2px rgba(100,100,100, 0.7);
}

nav a:hover {
    background: #2C7BB6;
    color: #fff;
}


nav ul {
    display: grid;
    grid-gap: 0.5rem;
    padding: 0;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 5rem;
}

nav ul li:hover > ul {
    display: inherit;
}

nav ul ul li {
	width:140px;
	float:none;
	display:list-item;
	position: relative;
}

/* Section Presentation */
.section-presentation {
    grid-area: pressbild;
    min-height: 550px;
    background: url(../img/pressbild.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-presentation h2 {
    font-size: 2rem;
    color: #fff;
}

.section-presentation p {
    font-size: 0.8rem;
    color: #fff;
}

.section-presentation a {
    font-size: 0.8rem;
    color: #fff;
    text-decoration: none;
}

/* Article Presentation */
.article-presentation {
    grid-area: presstext;
    display: grid;
    margin: 30px;
}

/* Footer */
footer {
    grid-area: footer;
    display: grid;
    min-height: 75px;
    padding: 0.8rem;
    color: #fff !important;
    background: #232323; 
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;

}

@media only screen and (max-width: 768px) {
    .wrapper {
        display: grid;
        grid-gap: 0.1rem;
        grid-template-areas: 
        'logo'
        'menu'
        'pressbild'
        'presstext'
        'footer'
    }

    /* Header Logo */
    .header-logo h1 {
        grid-area: logo;
        display: grid;
        text-align: center;
        font-size: 6rem;
        font-family: 'Nunito', sans-serif;
        text-shadow: 0 2px 5px rgba(100, 100, 100, 0.788);
    }

    /* Section Presentation */
    .section-presentation {
        grid-area: pressbild;
        display: flex;
        min-height: 350px;
        background: url(../img/pressbild.jpg);
        background-size: cover;
        background-position: center;
    }

    .section-presentation h2 {
        font-size: 1rem;
        color: #fff;
    }
    
    .section-presentation p {
        font-size: 0.8rem;
        color: #fff;
    }
    
    .section-presentation a {
        font-size: 0.8rem;
        color: #fff;
        text-decoration: none;
    }

    nav {
        grid-area: menu;
        margin: 5px;
        max-width: 100%;
    }

    
    nav a {
        background: #131313;
        display: block;
        text-decoration: none;
        padding: 0.2rem;    
        color: #fff;
        font-family: 'Nunito', sans-serif;
        font-size: 1rem;
        text-align: center;
        text-transform: uppercase;
        box-shadow: 0 1px 2px rgba(100,100,100, 0.7);
    }

}
